<%= form_with(model: list, local: true, class: "contents", data: { controller: "nested-form form" }, id: form_id) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if action_name == "new" %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>
  <% end %>

  <template data-nested-form-target='template'>
    <%= form.fields_for :items, Item.new, child_index: "TEMPLATE_RECORD" do |item_fields| %>
      <div class="nested-fields flex items-center border-b-2 py-2">
        <%= item_fields.hidden_field :_destroy %>
        <%= item_fields.check_box :completed, class: "w-6 h-6 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-transparent" %>
        <% if action_name == "new" %>
          <%= item_fields.text_field :description, class: "mx-4 border-0 w-full focus:ring-transparent", required: true, placeholder: "Item" %>
        <% else %>
          <%= item_fields.text_field :description, class: "mx-4 border-0 w-full focus:ring-transparent", required: true, placeholder: "Item", data: { action: "form#submitWithDebounce" } %>
        <% end %>

        <%= link_to "#", data: { action: "nested-form#removeAssociation" } do %>
          <i class="fa-solid fa-trash-can text-red-500 text-xl"></i>
        <% end %>
      </div>
    <% end %>
  </template>

  <div class="mt-4">
    <% if action_name == "new" %>
      <h2>Items</h2>
    <% end %>
    <%= form.fields_for :items do |item_fields| %>
      <div class="nested-fields flex items-center border-b-2 py-2">
        <%= item_fields.hidden_field :_destroy %>
        <%= item_fields.check_box :completed, class: "w-6 h-6 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-transparent" %>
        <% if action_name == "new" %>
          <%= item_fields.text_field :description, class: "mx-4 border-0 w-full focus:ring-transparent", required: true, placeholder: "Item" %>
        <% else %>
          <%= item_fields.text_field :description, class: "mx-4 border-0 w-full focus:ring-transparent", required: true, placeholder: "Item", data: { action: "form#submitWithDebounce" } %>
        <% end %>

        <%# <%= item_fields.text_field :description, class: "mx-4 shadow rounded-sm border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %1> %>

        <i class="fa-solid fa-trash-can text-red-500 text-xl" data-action="click->nested-form#removeAssociation click->form#submit"></i>
      </div>
    <% end %>
    <div data-nested-form-target="addItem">
    </div>
  </div>

  <div class="mt-8 flex justify-end">
    <%= link_to "+", "#", class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium cursor-pointer", id: "add_item", data: { action: "nested-form#addAssociation" } %>
  </div>
<% end %>
