<!DOCTYPE html>
<html>
  <head>
    <title>ListMate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script>window.process = { env: {} }</script>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://ga.jspm.io/npm:tippy.js@6.3.7/dist/tippy.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://ga.jspm.io/npm:tippy.js@6.3.7/animations/scale-extreme.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <div class="flex flex-col min-h-screen">
      <div class="flex-grow">
        <header class="bg-white shadow">
          <div class="container mx-auto px-6 py-3">
            <div class="flex items-center justify-between">
              <div>
                <%= link_to "ListMate", root_path, class: "text-xl font-semibold text-gray-800" %>
              </div>
              <div class="hidden md:flex items-center">
                <nav class="font-semibold text-gray-800">
                  <a href="#" class="mx-4"><%= t('.menu.my_lists') %></a>
                </nav>
                <%= link_to t('.menu.create_list'), new_list_path, class: "bg-blue-500 text-white px-6 py-2 rounded-md" %>
              </div>
            </div>
          </div>
        </header>
        <main class="container mx-auto mt-28 px-5 flex">
          <%= yield %>
        </main>
      </div>

      <footer class="bg-white shadow mt-12">
        <div class="container mx-auto px-6 py-3">
          <div class="text-center text-gray-800">
            &copy; <%= Time.current.year %> ListMate. <%= t('.footer.rights_reserved') %>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
